{% extends "todo/base.html" %}
{% load static %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Simply Your Todos. Woo!</h1>
                 <img src="{% static 'todo/toh-karna.gif' %}" width="230" height="230" style='border:2px solid #000000; border-radius: 10%;' class="d-inline-block align-top"><br><br>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}